.heaad {
  height: 168px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 1px 0px 1px 1px rgb(206, 206, 206);

  .top-header {
    height: 60px;
  }

  .main-header {
    width: 100%;
    height: 68px;
    background-color: #fff;

    .main {
      display: flex;
      justify-content: space-between;

      .main-start {
        display: flex;
        align-items: center;
        width: 80%;

        .logo-main {
          display: flex;
          height: 100%;
          margin-left: 20px;
          align-items: center;

          img {
            width: 195px;
          }
        }

        .search {
          width: 55%;
          display: flex;
          align-items: center;

          .input {
            display: flex;
            align-items: center;
            width: 90%;
            height: 44px;
            padding-right: 20px;
            background-color: #f0f0f1;
            border: none;
            border-radius: 8px;

            input {
              width: 100%;
              font-size: 12px;
              font-weight: 400;
              font-family: IRANYekan, sans-serif;
              text-align: right;
              border: none;
              outline: none;
              background: transparent;
            }
          }
        }
      }

      .main-end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;

        .login {
          width: 135px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #e0e0e2;
          border-radius: 8px;
          font-size: 12px;
          font-weight: 700;
          font-family: IRANYekan, sans-serif;
          color: #0c0c0c;
          text-decoration: none;
        }

        .sperate {
          margin: 0 12px;
          width: 1px;
          height: 24px;
          border-right: 1px solid #e0e0e2;
        }

        .cart {
          width: 40px;
          height: 40px;
          padding: 8px;
        }
      }
    }
  }

  .bottom-header {
    height: 40px;
    background-color: #fff;

    .right {
      width: 80%;

      .navbar {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        .dastebandi {
          font-family: IRANYekan, sans-serif;
          text-decoration: none;
          color: rgb(63, 64, 100);
          font-size: 14px;
          font-weight: 700;
        }
        .mega-menu {
          position: absolute;
          top: 100%;
          right: 0;
          width: 75vw;
          height: 70vh;
          display: none;
          flex-direction: row;
          background-color: #f5f5f5;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          z-index: 100;

          .side-menu {
            width: 20%;
            display: flex;
            flex-direction: column;
            overflow: scroll;

            .mega-menu-sub-item {
              width: 100%;
              background-color: #f5f5f5;
              .product_group {
                width: 100%;
                min-height: 50px;
                display: flex;
                align-items: center;
                font-size: 12px;
                font-family: IRANYekan, sans-serif;
                font-weight: 700;
                color: rgb(63, 64, 100);
                text-decoration: none;
                padding: 10px;
                &:hover {
                  background-color: #fff;
                  color: #ef394e;
                  border-style: solid;
                  border-width: 1px;
                  border-color: rgb(240, 240, 241);
                  .icon {
                    color: #ef394e;
                  }
                }

                .icon {
                  width: 20px;
                  height: 20px;
                  margin-left: 2px;
                  object-fit: cover;
                }

                span {
                  max-height: 50px;
                }
              }
            }
          }

          .content-area {
            width: 80%;
            background-color: #ffffff;
            overflow: scroll;

            .content-box {
              display: none;
              padding: 10px;
              span {
                display: block;
                font-size: 12px;
                font-weight: 700;
                font-family: IRANYekan, sans-serif;
                color: rgb(0, 142, 178);
              }
              .groups {
                padding-top: 15px;
                .group {
                  width: 25%;
                  h3 {
                    font-size: 14px;
                    font-weight: 700;
                    font-family: IRANYekan, sans-serif;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    &:hover {
                      color: #ef394e;
                    }
                  }
                  a {
                    text-decoration: none;
                    margin-bottom: 5px;
                    display: block;
                    color: rgb(129, 133, 139);
                    font-family: IRANYekan, sans-serif;
                    font-size: 12px;
                    &:hover {
                      color: #ef394e;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
            .content-box.active {
              display: block;
            }
          }

          .menu-left {
            width: 100%;
            height: 30vh;
            background-color: #1fd119;
            display: flex;
            flex-direction: column;
            padding: 10px;

            a {
              text-decoration: none;
              color: black;
              padding: 8px 12px;
              font-family: IRANYekan, sans-serif;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }

        &:hover .mega-menu {
          display: flex;
        }

        .mega-menu:has(.item-1:hover) .content-1,
        .mega-menu:has(.item-2:hover) .content-2 {
          display: block;
        }
      }

      .menu-link {
        font-family: IRANYekan, sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        color: #62666d;
      }
    }

    .left {
      width: 20%;
      display: flex;
      justify-content: flex-end;

      .location {
        width: 173px;
        height: 34px;
        border-radius: 9999px;
        background-color: #fef6ef;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        label {
          display: flex;
          flex-direction: row;
        }
        p {
          color: #f57f17;
          font-family: IRANYekan, sans-serif;
          font-size: 12px;
          font-weight: 700;
          text-align: center;
          cursor: pointer;
        }
        .selectCityBack {
          inset: 0 0 0 0;
          position: fixed;
          background-color: #a0a0a087;
          display: none;
          z-index: 999999999999;
          justify-content: center;
          .p {
            margin-right: 5%;
            p {
              
              margin-top: 10px;
              font-family: IRANYekan, sans-serif;
              color: rgb(66, 66, 66);
              font-size: 14px;
              font-weight: 400;
              max-width: 90%;
              text-align: right;
            }
          }

          
          .scrollbar{
            display: flex;
            flex-direction: column;
            direction: rtl;
            .swiper {
              width: 90%;
              height: 60%;
              margin-top: 2%;
            }
          
            .swiper-slide {
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 80px;
              min-height: 50px;
            
              .slide-item {
                a {
                  display: inline-block;
                  min-width: 60px;
                  box-sizing: border-box;
                  text-decoration: none;
                  border: 1px solid rgb(220, 220, 220);  
                  border-radius: 20px; 
                  color: rgb(66, 66, 66);
                  font-family: IRANYekan, sans-serif;
                  font-size: 0.875rem;
                  font-weight: 600;
                  padding: 10px 16px;
                  margin: 0 6px;
                  transition: all 0.3s ease;
            
                }
              }
            }
            
          
            .swiper-slide img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            p{
              margin-top: 10px;
              font-family: IRANYekan, sans-serif;
              color: rgb(66, 66, 66);
              font-size: 17px;
              font-weight: 700;
              margin-right: 5%;
              text-align: right;
            }
          }
          .selectCityBox {
            width: 30%;
            height: 80%;
            border-radius: 10px;
            background-color: #ffffff;
            position: absolute;
            left: calc(50% - 27% / 2);
            top: calc(50% - 80% / 2);
            display: flex;
            flex-direction: column;
            .box-top {
              width: 100%;
              height: 10%;
              padding: 0 20px;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: space-between;
              top: 0;
              right: 0;
              border-bottom: 1px solid #f0f0f1;
              p {
                color: rgb(12, 12, 12);
                font-size: 16px;
                font-weight: 700;
                font-family: IRANYekan, sans-serif;
              }
              label {
                color: rgb(66, 71, 80);
                font-size: 28px;
                cursor: pointer;
                font-family: IRANYekan, sans-serif;
              }
            }
            .serarchBox {
              justify-content: center;
              margin-top: 10px;
              .input {
                align-items: center;
                width: 90%;
                height: 44px;
                padding-right: 20px;
                background-color: #f0f0f1;
                border: none;
                border-radius: 8px;

                input {
                  width: 100%;
                  font-size: 12px;
                  font-weight: 400;
                  font-family: IRANYekan, sans-serif;
                  text-align: right;
                  border: none;
                  outline: none;
                  background: transparent;
                }
              }
            }
          }
        }
        #modal:checked ~ .selectCityBack {
          display: flex;
        }
        #close:checked ~ .selectCityBack {
          display: none;
        }
        #modal,
        #close {
          display: none;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      .menu-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #62666d;
        font-size: 12px;
        font-weight: 400;
        font-family: IRANYekan, sans-serif;
      }

      img {
        margin: 2px;
        width: 18px;
        height: 18px;
      }

      span {
        margin: 4px 20px 0 0;
        width: 1px;
        height: 16px;
        border-left: 1px solid #e0e0e2;
      }
    }
  }
}
