@font-face {
  font-family: iranbold-medium;
  src: url(../../fonts/iranbold-medium/IRANYekanWeb-Medium.eot);
  src: url(../../fonts/iranbold-medium/IRANYekanWeb-Medium.ttf);
  src: url(../../fonts/iranbold-medium/IRANYekanWeb-Medium.woff);
  src: url(../../fonts/iranbold-medium/IRANYekanWeb-Medium.woff2);
}
@font-face {
  font-family: iranbold-bold;
  src: url(../../fonts/iranbold-bold/IRANYekanWeb-Bold.eot);
  src: url(../../fonts/iranbold-bold/IRANYekanWeb-Bold.ttf);
  src: url(../../fonts/iranbold-bold/IRANYekanWeb-Bold.woff);
  src: url(../../fonts/iranbold-bold/IRANYekanWeb-Bold.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-12 {
  margin-right: 12px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.mgx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.radiousTRBL {
  border-radius: 0 7px 7px 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px auto;
}

.noborder {
  border: none !important;
}

.noborder-btm {
  border-bottom: none !important;
}

.noborder-left {
  border-left: none !important;
}
.radTB {
  border-radius: 0 7px 7px 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: white !important;
  border: 1px solid grey !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px !important; 
  font-weight: 700;
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto !important;
  line-height: normal !important;
}

.swiper-button-disabled {
  display: none !important;
}
.swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
  transition: 300ms !important;
}
.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 4px !important;
  border-radius: 3px !important;
  background-color: white !important;
}