.supermarket_amaizing2 {
  display: flex;
  width: 89%;
  margin: 2% 5% 1% 5%;
  height: 360px;
  border-radius: 16px;
  background: rgb(244, 244, 244);
  border: 1px solid rgb(212, 212, 212);
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  .right {
    display: flex;
    margin: 0 3px;
    width: 20%;
    height: 85%;

    .side {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      padding: 0 35px 0 35px;
      align-items: center;
      p{
        font-family: IRANYekan, sans-serif;
        font-size: 22px;
        font-weight: 700;
        color:rgb(28, 124, 84);
      }
      .img1 {
        width: 120px;
      }
      .img2 {
        width: 150px;
        padding: 0 4px 0 4px;
      }
      span {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
        font-family: IRANYekan, sans-serif;
        color: rgb(50, 148, 81);
        padding: 8px 20px;
        border-radius: 8px;
      }
    }
  }
  .left {
    width: 84%;
    height: 88%;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 100%;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      .slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
                  border-radius: 8px;

          width: 100%;
          text-decoration: none;
          img {
            width: 40px;
          }
        }
      }

      h3 {
        max-width: 80%;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
        font-family: IRANYekan, sans-serif;
        color: rgb(63, 64, 100);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
      }
      .dis {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
          margin-left: 10px;
          width: 16px;
        }
        .price-final {
          font-size: 14px;
          font-weight: 700;
          font-family: IRANYekan, sans-serif;
          color: rgb(63, 64, 100);
        }

        .price-discount-percent {
          margin-left: auto;
          margin-right: 15px;
          padding: 1px 7px;
          font-size: 12px;
          font-weight: 700;
          font-family: IRANYekan, sans-serif;
          background-color: #d32f2f;
          color: #ffffff;
          border-radius: 16px;
        }

        
      }
      .timer{
        margin-right: auto;
        padding: 1px 7px;
        font-size: 12px;
        font-weight: 500;
        font-family: IRANYekan, sans-serif;
        color: rgb(239, 64, 86);

      }
      .price-no-discount {
        width: 100%;
        margin: 0 15px;
        padding: 0 15px;
        font-size: 12px;
        font-weight: 400;
        text-align: left;
        font-family: IRANYekan, sans-serif;
        color: rgb(192, 194, 197);
        text-decoration: line-through;
      }
      img {
        display: block;
        width: 90%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
/* 
.container-2xl-w {
  display: flex;
  width: 89%;
  margin: 2% 5% 2% 5%;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(
    225deg,
    rgb(210, 44, 78),
    rgb(238, 56, 78) 61.68%,
    rgb(239, 86, 98)
  );

  justify-content: space-between;
  align-items: center;

  .container-2xl-wi {
    display: flex;
    margin: 0 3px;
    width: 100%;
    height: 85%;
    background: linear-gradient(
      225deg,
      rgb(210, 44, 78),
      rgb(238, 56, 78) 61.68%,
      rgb(239, 86, 98)
    );

    .side {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      justify-content: center;
      padding: 0 35px 0 35px;
      .img1 {
        width: 95px;
      }
      .img2 {
        width: 87px;
        padding: 0 4px 0 4px;
      }
      span {
        margin-top: 10px;
        font-size: 11px;
        font-weight: 700;
        font-family: IRANYekan, sans-serif;
        color: rgb(255, 255, 255);
      }
    }
    .slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 2px;
      height: 100%;
      width: 20%;
      background-color: white;
      text-decoration: none;

      img {
        width: 80%;
      }
      h3 {
        max-width: 80%;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        font-family: IRANYekan, sans-serif;
        color: rgb(98, 102, 109);
        direction: rtl;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        line-clamp: 2;
      }
      .dis {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .price-final {
          margin: 0 15px;
          font-size: 14px;
          font-weight: 700;
          direction: ltr;
          font-family: IRANYekan, sans-serif;
          color: rgb(63, 64, 100);
        }
        .price-discount-percent {
          margin: 0 15px;
          padding: 1px 7px;
          font-size: 12px;
          font-weight: 700;
          font-family: IRANYekan, sans-serif;
          background-color: #d32f2f;
          color: #ffffff;
          border-radius: 16px;
        }
      }

      .price-no-discount {
        margin: 0 15px;
        font-size: 12px;
        font-weight: 400;
        direction: ltr;
        font-family: IRANYekan, sans-serif;
        color: rgb(192, 194, 197);
        text-decoration: line-through;
        align-self: self-start;
      }
    }
  }
} */
