.support{
    display: flex;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 5px;
    margin: 20px;
    width: 48px;
    height: 48px;
    background-color: #ef4056;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}